<nav class="navbar navbar-expand-lg navbar-light navbar-custom navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="sun-smiles.png" alt="Logo" width="40" height="40">
    </a>
    <!-- Toggler for responsive collapse on small screens -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link" href="#" id="languageDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-globe" style="color: #e9ecef"></i>
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="languageDropdown">
            <li>
              <a class="dropdown-item" href="#" (click)="switchLanguage(language.shortForm)" *ngFor="let language of languages">
              {{language.fullForm}}
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
